<%
mensajes.each do |mensaje|
%>
<option value="m<%=mensaje['id']%>"><%=mensaje['mensaje']%></option>
<%

respuestas.each do |respuesta|
if respuesta['mensajeid'] == mensaje['id']
%>
<option value="r<%=respuesta['id']%>">&nbsp;&nbsp;&nbsp;<%=respuesta['texto']%></option>
<%
end
end
end
%>
