<html>
<body>
<%
conversacion.each do |con|
%>

<label style="color:#000000"><%=con['mensaje']%></label><br />
<label title="<%=con['texto']%>" style="color:#FF0000"><%=con['rh_texto']%></label><br />

<%
end
%>
</body>
</html>
