<html>
<head><title>Leyendo conversacion</title>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
</head>
<body>
<div class="navbar">
 <div class="navbar-inner">
<label class="brand">Sistema automatizador de conversaciones</label>
 <ul class="nav">
<li class="active"><a>Leyendo conversacion</a></li>
</div>
</div>
<%
conversacion.each do |con|
%>

<p><label style="color:#000000"><%=con['mensaje']%></label></p>
<p><label title="<%=con['texto']%>" style="color:#FF0000"><%=con['rh_texto']%></label></p>

<%
end
%>
</body>
</html>
