<!DOCTYPE html>
<html>
<head>
<title>Bienvenido a SAC | Sistema Asistente de Conversaciones</title>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
<script type="text/javascript">
xmlhttp=new XMLHttpRequest();
function _conClave(a){
	if(a.checked){
		document.getElementsByName("clave")[0].disabled = false;
	}else{
		document.getElementsByName("clave")[0].disabled = true;
	}
}
xmlhttp.onreadystatechange=function(){
	if(xmlhttp.readyState==4 && xmlhttp.status==200){
		document.getElementById("conversaciones").innerHTML = xmlhttp.responseText;
	}else if(xmlhttp.readyState==4 && xmlhttp.status!=200){
		
	}
}
function cargarConversaciones(){
	if(typeof(Storage)!==""){
		if(localStorage.conversaciones != undefined){
			xmlhttp.open("POST","/conversaciones",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send("conversaciones="+localStorage.conversaciones);
		}else{
			localStorage.conversaciones = "";
		}
	}
}
</script>
</head>
<body onload="cargarConversaciones()">
<div class="navbar">
 <div class="navbar-inner">
<label class="brand">Sistema asistente de conversaciones</label>
<ul class="nav">
<li class="active"><a>Inicio</a></li>
<li class=""><a>Como usar</a></li>
<li class=""><a>Contacto</a></li>
</ul>
</div>
</div>
<div>
<form action="/crear/nuevo" name="conversacion" method="post">
<p>Para crear una nueva conversacion presione el siguiente boton</p>
<input type="submit" value="Crear conversacion" class="btn btn-primary"/>
<p>¿Desea proteger la conversacion con una clave? <input type="checkbox" value="true" name="_clave" onchange="_conClave(this)"/></p>
<input type="password" name="clave" disabled="true" maxlength="4" size="4" style="width: 50px"/> 
</form>
</div>
<div id="conversaciones">

</div>
<hr />
<p>Hecho por Edgar Polanco <a href="http://twitter.com/theboss_edgar">Twitter </a><a href="http://github.com/thebossedgar/sac2">GitHub </a><a href="mailto:theboss.edgar14@gmail.com">E-mail</a></p>
</body>
</html>
